.root{
    -fx-background-color: #383838;
}
.label{
    -fx-text-fill: #e8e8e8;
}
.button-st{
   -fx-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
   -fx-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -fx-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -fx-background-color:transparent;
   /* -fx-border:1px solid #dcdcdc;*/
    -fx-display:inline-block;
    -fx-cursor:pointer;
   /* -fx-color:#666666;*/
    -fx-font-family:Arial;
    -fx-font-size:15px;
    -fx-font-weight:bold;
    -fx-padding:6px 24px;
  /*  -fx-text-decoration:none;
    -fx-text-shadow:0px 1px 0px #ffffff;*/
}
.button-blue{
    -fx-background-color: #7cafc2;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 5;
}
/* make the label text bold*/
#bold-label{
    -fx-font-weight: bold;
}
